<h1>Hey <%= @user.username %>, we've found <%= @user == @post.user ? "the track you were looking for" : "the song you were trakcing" %> !!!</h1>

<p>
  This is <%= @message.user_guess %>
  <br>
  <br>
  <a href=" <%= @post.youtube_link %> ">View it on Youtube</a>
  <br>
  <% if @post.spotify_link %>
    <a href=" <%= @post.spotify_link %> ">Open in Spotify</a>
  <% else %>
    <p>Sorry but we didn't find this track on Spotify :(</p>
  <% end %>
  <br>
  <br>
  <p>Enjoy ! 🎶</p>
</p>
