<%= render 'user-info', user: @user %>

<div class="mt-3 py-1 pl-3 user-post-section">My Posts</div>
<% if @my_posts.empty? %>
  <div class="empty-section"></div>
<% else %>
  <% @my_posts.each do |post| %>
    <%= render 'shared/post_item', post: post %>
  <% end %>
<% end %>

<div class="mt-3 py-1 pl-3 user-post-section">Tracked Posts</div>
<% if @tracked_posts.empty? %>
  <%= link_to tracks_path do %>
    <div class="empty-section"><%= tracked_posts_empty_text(@user) %></div>
  <% end %>
<% else %>
  <% @tracked_posts.each do |post| %>
    <%= render 'shared/post_item', post: post %>
  <% end %>
<% end %>

<div class="mt-3 py-1 pl-3 user-post-section">Tracks Found</div>
<% if @tracks_found.empty? %>
  <%= link_to tracks_path do  %>
    <div class="empty-section"><%= tracks_found_empty_text(@user) %></div>
  <% end %>
<% else %>
  <% @tracks_found.each do |post| %>
    <%= render 'shared/post_item', post: post %>
  <% end %>
<% end %>
