<% view = 'view_added' if post.views.find {|i| i.user_id == current_user.id } %>

<div class="d-flex post-item px-3 <%= view %>" data-post-views="<%= post.views.count %>" data-post-id="<%= post.id %>">
  <%= link_to post_create_view_path(post), remote: true, method: :post do %>
    <div class="comments-click"></div>
    <div class="play-click"></div>
  <% end %>
  <div class="avatar"></div>
    <div class="post-item-details">
      <div class="post-username"><%= post.user.username %></div>
      <div class="post-item-title"><%= post.title %></div>
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center play-view">
          <i class="fas fa-play post-item-play"></i>
          <span class="post-view"></span>
        </div>
        <i class="fas fa-ellipsis-h post-dots"></i>
      </div>
    </div>
</div>

