<div class="post-actions">

  <% if post.tracked_by?(current_user) %>
    <%= link_to post_untracked_path(post.id), remote: :true, method: :delete do %>
    <div class="post-action action-item">
      <%= cl_image_tag 'track-loupe', width: 22, height: 22, class: "filter-shazam" %>
      <p>Post tracked</p>
    </div>
    <% end %>
  <% else %>
    <%= link_to post_tracked_path(post.id), remote: :true, method: :post do %>
      <div class="post-action action-item">
        <%= cl_image_tag 'track-loupe', width: 22, height: 22, class: "filter-grey" %>
        <p>Track this post</p>
      </div>
    <% end %>
  <% end %>

  <%= link_to post_show_path(post.id), remote: true do %>
  <div id="comment" class="post-action action-item">
    <i class="far fa-comment-alt"></i>
    <p>Comment</p>
  </div>
  <% end %>

  <div class="post-action action-item">
    <%= cl_image_tag 'share', width: 22, height: 30 %>
    <p>Share</p>
  </div>

  <div class="post-action action-item">
    <i class="far fa-user"></i>
    <p>See user profil</p>
  </div>

  <div class="post-action-cancel action-item">
    <p>Cancel</p>
  </div>
</div>

<div class="opacity-filter"></div>
